.login-pf body  {
    background-image: url('../img/background.svg');
    background-size: cover;
}

div.kc-logo-text {
    background-image: url('../img/logo-lifeapps.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 130px;
}